* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;

}
body {
    background-color: gray;
}

@media (max-width:768px) {
    .section2,.section3{
	display: none;
}

    #toptext {
        background-color: white;
        font-size: 2em;
    }

    #toptext + div {
        height: 300px;
        border: 1px groove black;
        box-shadow: -10px -10px 10px black, 10px 10px 10px black;
    }

    #toptext + div img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    #toptext + div h2 {
        text-align: center;
    }

    .avatar {
        border: 1px groove black;
        box-shadow: -10px -10px 10px black, 10px 10px 10px black;
        margin-top: 30px;
        margin-bottom: 30px;
    }
sdgrg
    .avatar h2 {
        text-align: center;
    }

    .avatar h4 {
        text-align: center;
        margin: 10px;
    }

    .avatar img {
        vertical-align: middle;
        margin-left: 50px;
    }

    .womanimg {
        text-align: center;

    }

    .womanimg img {

        width: 767px;
    }

    .womanimg p {
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .once-btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .posts button{
        display: block;
         margin: 0 auto;
        margin-top: 10px;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
      .post {
   margin-left:200px;
          margin-top: 30px;
    }

    .post div {
        background-color: white;
        height: 40px;
        width:350px;
    }

    .post div p {
        margin-left: 50px;
    }

    .post div img {
        margin-left: 170px;
        vertical-align: middle;
    }
        .con-post {
        margin-left: 10px;

    }
    .other-page {
        margin-left: 100px;
    }

    .other-page h3 img {
        width: 100px;
        height: 100px;
        vertical-align: top;
        margin-right: 30px;
    }

}
































@media(min-width:768px) and (max-width:1024px) {
.section2, .section3{
	display: none;
}
    #toptext {
        background-color: white;
        font-size: 2em;
    }

    #toptext + div {
        height: 300px;
        border: 1px groove black;
        box-shadow: -10px -10px 10px black, 10px 10px 10px black;
    }

    #toptext + div img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    #toptext + div h2 {
        text-align: center;
    }

    .avatar {
        border: 1px groove black;
        box-shadow: -10px -10px 10px black, 10px 10px 10px black;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .avatar h2 {
        text-align: center;
    }

    .avatar h4 {
        text-align: center;
        margin: 10px;
    }

    .avatar img {
        vertical-align: middle;
        margin-left: 50px;
    }

    .womanimg {
        text-align: center;

    }

    .womanimg p {
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .once-btn {
        margin-left: 100px;
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
    }

    .posts {
        margin-left: 70px;
    }

    .posts button {
        margin-left: 30px;
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
    }

    .con-post {
        margin-left: 100px;

    }

    .post {
        float: left;
        margin: 30px;
    }

    .post div {
        background-color: white;
        height: 40px;
    }

    .post div p {
        margin-left: 50px;
    }

    .post div img {
        margin-left: 170px;
        vertical-align: middle;
    }

    .other-page {
        margin-left: 130px;
    }

    .other-page h3 img {
        width: 100px;
        height: 100px;
        vertical-align: top;
        margin-right: 30px;
    }
}














@media (min-width:1024px) and (max-width:1280px) {

    *{
        list-style: none;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    section:first-child,.section3{
        display: none;
    }
    main div{
        float: left;
    }
    main div:first-child{
        background-color: white;
        height: 50px;
        
    }
        main div:last-child{
        background-color: red;
        height:50px;
          
    }
    main div:last-child img{
        display: block;
        margin: 0 auto;
        width: 45px;
    }
    main div:first-child ul li{
        float: left;
        margin: 10px;
        padding: 3px;
        font-size: 23px;
    }
    main + div {
        height: 300px;
        border: 1px groove black;
        box-shadow: -10px -10px 10px black, 10px 10px 10px black;
    }

   main + div img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    main + div h2 {
        text-align: center;
    }
    .two-peace{
        margin-left: 50px;
        margin-right: 50px;
    }
    .two-peace div{
        float: left;
        margin-top: 20px;
    }
    .two-peace div:first-child{
        height: 200px;
        background-color: aqua;
        
    }
    .two-peace div:last-child{
        height: 200px;
        background-color: red;
    }
    .two-peace div:first-child h3{
        margin-left: 30px;
        color: red;
    }
    article{
       margin-top: 5px;
     }
    article>div{
      background-color: aliceblue;
         margin-left: 50px;
        margin-right: 50px;
        height: 500px;
     }
    article>div img{
        display: block;
        margin: 0 auto;
        padding-top: 40px;
    }
    article>div p{
        margin-left: 100px;
        margin-right: 30px;
    }
    article>div button{
        display: block;
        padding: 10px;
        background-color: transparent;
        border: 1px groove black;
        margin-top: 20px;
        margin-left: 100px;
    }
    .row-btn{
        margin-left: 40px;
        margin-top: 20px;
    }   
    .row-btn button{
        margin-left: 10px;
        padding: 10px;
        background-color: transparent;
        border:1px groove black;
    }
    hr{
        margin: 10px;
    }
    .posts{
        margin-top: 45px;
       margin-left: 230px;
    }
    .posts div {
	float: left;
    height: 250px;
    margin-left: -20    
    }
    .posts div img{
        margin-top: -40px;
    }
    .posts div p{
        float: left
    }
    .post-image{
        padding-top:0; 
        width: 100%;
        border-radius: 20px;
    }
    .other-page {
        margin-left: 50px
    }
    .other-page img{
	width: 120px;
        height: 120px;
        vertical-align: middle;
        margin-right: 30px;
}
}








@media (min-width:1280px){
    *{
        list-style: none;
    }
.section2,.section1 {
	display: none;
}
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
        main div{
        float: left;
    }
    main div:first-child{
        background-color: white;
        height: 50px;
        
    }
        main div:last-child{
        background-color: red;
        height:50px;
          
    }
    main div:last-child img{
        display: block;
        margin: 0 auto;
        width: 45px;
    }
    main div:first-child ul li{
        float: left;
        margin: 10px;
        padding: 3px;
        font-size: 23px;
    }
    .top-img {
        margin-top: 50px;
        margin-left: 7%;
    }
    .top-img img{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: block;
    margin-left: 27%;
       
    }
    .top-img h1{
        margin-left:27%;
        max-width: 180px;
        font-size: 2em;
    }
    .top-img p{
        margin-left:27%;
        width: 500px;
        font-size: 2em;
    }
    .con-post {
	margin-left: 14%;
   
}
    .post {
	  margin-top: 30px;
}
.post div {
	background-color: white;
    width: 350px;
    height: 80px;
  
}
    .post div img{
        float: right;
       margin-top: 10px;
        margin-right: 30px;
        border-radius: 30px;
    }
    .post div p{
        font-size: 2em;
        margin-left: 10px;
        padding-top:15px;
    }
        .other-page {
        margin-left: 28%;
            margin-top: 20px
    }
    .other-page img{
	width: 120px;
        height: 120px;
      float: left;
}
    .other-page h3{
       padding-top:10px;
    }

    .lft-clmn{
      float: left;
    }
    .right-clmn{
        float: right;
        margin-right: 300px;
        margin-top: 50px;
    }
    .big-row{
        float: left;
        background-color:yellow;
        height: 285px;
        margin-top: 30px;
    }
    .big-row h1{
        font-size: 2em;
        text-align: center;
        margin-top: 30px;
    }
    .big-row p{
          font-size: 2em;
        text-align: center;
    }
    .mini-row {
        float: right;
        background-color:aqua;
        height: 285px;
         margin-top: 30px;
    }
    .test{
        background-color: white;
        margin-top: 5px;
    }
    .test img{
        display: block;
        margin: 0 auto;
        padding-top: 30px;
         
    }
    .test p{
        width: 80%;
        font-size: 2em;
        margin-top: 50px;
        margin-left: 300px;
    }
    .test button{
        margin-left: 300px;
        margin-top: 50px;
        padding: 10px;
        background:transparent;
        border: 1x groove lime;
        margin-bottom: 30px;
    }
}